.concepts-page {
  // margin-top: 150px;
  // z-index: 100;

  h2 {
    font-family: $mainFontBold;
    text-align: left;
    margin-bottom: -10px;
  }

  h3 {
    margin-bottom: -10px;
    font-family: $mainFontBold;
    text-transform: uppercase;
  }

  .home-link {
    font-family: $mainFontBold;
    text-transform: uppercase;
    margin-right: 15px;
    background: $sapphire;
    color: $white;
    padding: 5px 15px;
  }

  .concept-link-wrap {
    margin: 40px 0;

    .concept-links {
      font-family: $mainFontBold;
      text-transform: uppercase;
      margin-right: 15px;
      background: $mulberry;
      color: $white;
      padding: 5px 15px;
    }

  }


  p {
    max-width: 550px;

    a {
      font-family: $mainFontBold;
      display: block;
    }
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin: 20px 0;
  }

  .two-images {
    display: flex;
    justify-content: space-between;
    width: 80%;
    img {
      width: 49%;
    }
  }
}

.concepts-page {

}