footer {
  padding: 20px 0;
  .wrapper {
    display: flex;
    justify-content: center;
  }
  .social-follow {
    display: block;
    margin: 0 auto;
    a {
      font-size: 2rem;

      &:hover, &:focus, &:active {
        color: $forestGreen;
      }
    }
  }

}