#music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 70px 0;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  .first-image {
    width: 15%;
    align-self: flex-start;

    @media (max-width: 1025px) {
      display: none;
    }
  }
  .second-image {
    width: 26%;
    align-self: flex-start;
    margin-left: -40px;
    margin-top: 20px;

    @media (max-width: 1025px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
  .mobile-image {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 75%;
      max-width: 250px;
      height: auto;
      z-index: 99;
    }
  }
}

.playlist {
  background: $rose;
  margin-left: -60px;
  margin-top: 60px;
  padding: 70px;

  @media (max-width: 768px) {
    width: 80%;
    max-width: 380px;
    margin-top: -60px;
    margin-left: initial;
    padding: 20px;
    // padding: 50px 0;
    padding-top: 90px;
  }

  .player {
    min-width: 250px;
    max-width: 250px;
    margin: 0 auto;

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      button {
        background: transparent;
        border: none;
        cursor: pointer;
        svg {
          height: 2rem;
          width: 2rem;
          path {
            fill: $black;
            transition: all .05s;

            &:hover {
              fill: $black;
              opacity: 0.7;
            }
          }
        }
      }
      .play-pause {
        margin: 0 10px;
        svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
    .timebar {
      height: 30px;
      .bar {
        display: block;
        width: 250px;
        height: 3px !important;
        background: black;
        
      }
    }
  }

  h2 {
    text-align: left;
    margin: 0 0 5px;
    font-size: 1.4rem;
  }
  .tracklist {
    list-style: none;
    padding: 0;
    li {
      cursor: pointer;
      padding: 2px;
      border-bottom: 1px solid rgba($black, 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover, &:focus {
        color: $black;
        opacity: 0.7;
      }
    }
  }
  .social-follow {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    a {
      font-size: 2rem;
      &:hover, &:focus {
        color: $black;
        opacity: 0.7;
      }
    }
  }
}