// CONCEPT ONE
// $green: #5caa7f;
// $lightGreen: #6CB28B;
// $lighterGreen: #7cbb98;
// $lightestGreen: #8cc3a5;

// $powderPurple: #b097c5;
// $punchBowl: #ee5750;
// $blush: #f4abad;
// $skyBlue: #73b2d1;
// $sweetAlmond: #eeceb7;
// $burntMustard: #d99326;

// CONCEPT THREE
$blue: #8BAABF;
$lightBlue: #97B3C5;
$lighterBlue: #A2BBCC;
$lightestBlue: #AEC4D2;

$almond: #F1DAC0;
$blush: #F6D7DA;
$red: #C80816;
$forestGreen: #28503F;
$burgundy: #751B30;
$brightBlue: #3983B3;
$mustard: #DCB034;

$black: #222;
$white: #fff;
$grey: #f9f9f9;

$error: #d63c35;
$success: #498865;

@font-face {
  font-family: 'Favorit-Light';
  src: url('../fonts/FavoritTrialStd-Light.woff') format('woff'),
  url('../fonts/FavoritTrialStd-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Light-Italic';
  src: url('../fonts/FavoritTrialStd-LightItalic.woff') format('woff'),
  url('../fonts/FavoritTrialStd-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Book';
  src: url('../fonts/FavoritTrialStd-Book.woff') format('woff'),
  url('../fonts/FavoritTrialStd-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Book-Italic';
  src: url('../fonts/FavoritTrialStd-BookItalic.woff') format('woff'),
  url('../fonts/FavoritTrialStd-BookItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Medium';
  src: url('../fonts/FavoritTrialStd-Medium.woff') format('woff'),
  url('../fonts/FavoritTrialStd-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Medium-Italic';
  src: url('../fonts/FavoritTrialStd-MediumItalic.woff') format('woff'),
  url('../fonts/FavoritTrialStd-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Bold';
  src: url('../fonts/FavoritTrialStd-Bold.woff') format('woff'),
  url('../fonts/FavoritTrialStd-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Favorit-Bold-Italic';
  src: url('../fonts/FavoritTrialStd-BoldItalic.woff') format('woff'),
  url('../fonts/FavoritTrialStd-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Glyphworld-Glacier';
  src: url('../fonts/GlyphWorld-Glacier.otf') format('OpenType')
}

$mainFontLight: 'Favorit-Light', sans-serif;
$mainFontLightItalic: 'Favorit-Light-Italic', sans-serif;
$mainFont: 'Favorit-Book', sans-serif;
$mainFontItalic: 'Favorit-Book-Italic', sans-serif;
$mainFontMedium: 'Favorit-Book', sans-serif;
$mainFontMediumItalic: 'Favorit-Book-Italic', sans-serif;
$mainFontBold: 'Favorit-Bold', sans-serif;
$mainFontBoldItalic: 'Favorit-Bold-Italic', sans-serif;

$test: 'Glyphworld-Glacier';