@import 'variables';
@import 'header';
@import 'hammy';
@import 'footer';


@import 'music';
@import 'about';
@import 'shows';
@import 'video';
@import 'subscribe';





body {
  background: $almond;
  font-family: $mainFont;
  font-size: 1rem;
}

main {
  margin-top: 83px;
}


.wrapper {
  width: 95%;
  margin: 0 auto;
    @media (max-width: 768px) {
    width: 99%;
  }
}

  h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    // font-family: $test;
    font-family: $mainFontLight;
  }


a {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .5s;
  outline: none;
  cursor: url('../images/favicon.png');

  &:hover, &:focus, &:active {
    color: $brightBlue;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  outline: none;
}


.hidden {
  position: absolute;
  left: -24000px;

  &:focus {
    left: 0;
  }
}